<div class="form-group">
    <label>Update token</label>
    <div class="input-group">
        <input class="form-control" type="text" value="<%= h params['token'] %>" readonly>
        <div class="input-group-btn split">
            <button type="button" class="btn btn-default" data-clipboard-text="<%= h params['token'] %>">
                <i class="glyphicon glyphicon-copy"></i>
            </button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a data-clipboard-text="<%= h params['token'] %>">Copy to clipboard</a>
                </li>
                <li>
                    <a id="send-by-email-toggle">Send by email</a>
                </li>
            </ul>
        </div>
    </div>
    <p class="help-block">Keep this, it's useful.</p>
</div>
<form id="send-by-email" method="post" action="/sendmail">
    <input type="hidden" name="token" value="<%= h params['token'] %>">
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" name="email">
    </div>
    <button type="submit" class="btn btn-default">Send</button>
</form>