body {
	margin: 0;
}

.wrapper {
	margin: 0 auto;
	max-width: 480px;
}

.header {
	margin: 20px 0;
}

.header .brand {
	background-image: url('../img/logo.png');
	background-size: 100% 100%;
	display: block;
	height: 113px;
	margin: 0 auto 10px;
	text-indent: -1000em;
	width: 160px;
}

.header, .message {
	text-align: center;
}

.btn.btn-unpretentious:hover,
.btn.btn-unpretentious:focus,
.btn.btn-unpretentious:focus {
		color: #2780e3;
}

.btn.btn-unpretentious:active {
	box-shadow: none;
}

.fork-me {
	border: 0;
	position: absolute;
	right: 0; 
	top: 0;
}

.input-group-btn.split .dropdown-toggle {
	border-left: 1px solid #000000;
	padding: 10px;
}

#send-by-email {
	border-top: 1px solid #e6e6e6;
	display: none;
	margin-top: 21px;
    padding-top: 21px;
}